.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 5%;
}

.wrapper > * {
  padding: 20px;
}
.page-main {
    flex-grow: 1;
}

.title {
    font: Bold 48px/57px Lato;
    letter-spacing: 0px;
    color: #2A3536;
    opacity: 1;
    margin-bottom: 30px;
    text-align: center;
}
.subtitle {
    font: Regular 20px/24px Lato;
    letter-spacing: 0px;
    color: #273133;
    opacity: 1;
    text-align: center;
}
.textCss {
    text-align: left;
    font: Bold 16px/19px Lato;
    letter-spacing: 0px;
    color: #2D2A31;
    opacity: 1;
}

.i-icon {
    height: 15px;
    margin-top: -3px;
}
.plus-icon {
    margin-left: 60%;
    height: 20px;
    width: 20px;
}
.col-md-4 {
    margin-left: 2%;
}

//Slider CSS
:host ::ng-deep .mat-slider-thumb {
    background: #17B7E3;
    margin-bottom: 2px;
    height: 16px;
    width: 16px;
}
:host ::ng-deep .mat-slider-thumb-label {
    background-color: #17B7E3;
}
:host ::ng-deep .mat-slider-track-fill {
    background-color: #17B7E3;
}
.mat-slider-horizontal {
    height: 48px;
    min-width: 128px;
    width: 280px;
    margin-left: 10px;
    margin-top: -25px;
}
.displayBox {
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    opacity: 1;
    width: 300px;
    height: 40px;
    padding: 8px 12px 8px 12px;
    font: Regular 18px/40px Lato;
    letter-spacing: 0.54px;
}
.month {
    float: right;
    font: Regular 16px/40px Lato;
    letter-spacing: 0.48px;
    color: #273133;
}

//Recovery Slider CSS
:host ::ng-deep .mat-slider-thumb {
    background: #17B7E3;
    margin-bottom: 2px;
    height: 16px;
    width: 16px;
}
:host ::ng-deep .mat-slider-thumb-label {
    background-color: #17B7E3;
}
:host ::ng-deep .mat-slider-track-fill {
    background-color: #17B7E3;
}
#recoverySlider {
    height: 48px;
    min-width: 128px;
    width: 39%;
    margin-left: 48%;
    margin-top: -25px;
}
.container {
    width: 138.25%;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3px 3px 3px #00000029;
    border: 1px solid #E5E5E5;
    opacity: 1;
}
.recoveryBox2 {
    margin-top: -55px;
    margin-left: 48%;
    width: 40%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
}
.monthR {
    font: Regular 16px/19px Lato;
    letter-spacing: 0px;
    color: #2D2A31;
    float: right;
}
.recoveryImg {
    margin-top: 40px;
    margin-left: 15%;
    opacity: 1;
    height: 36px;
    width: 36px;
}
.recoveryText {
    margin-top: 50px;
    font: Bold 16px/19px Lato;
    letter-spacing: 0.16px;
    color: #312E34;
    opacity: 1;
}

@media only screen and (max-width: 1100px) {
    .recoveryText {
        font-size: 12px;
    }

    .monthR {
        font-size: 14px;
    }
}

@media only screen and (max-width: 949px) {
    .recoveryText {
        font-size: 8px;
    }
    .monthR {
        font-size: 10px;
    }

}

